{% extends 'users/UserHome.html' %}
{% load static %}
{% block contents %}
<style>
    h1 {
        font: bold;
        color: red;
        text-transform: uppercase;
        text-align: center;
        font-size: 50px;
        text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: black;
    }
</style>

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide w3-animate-opacity w3-round-xxlarge">Rating of Mobile Apps</h2>
    <div class="container w3-animate-left w3-right-align" style="margin: auto;">
        <!-- Title and Metrics for Decision Tree and SVR -->
        <h1>Model Evaluation Results</h1>
        
        <h2>Decision Tree Regressor (DT) Performance</h2>
        <table class="w3-table-all">
            <tr>
                <td>Mean Absolute Error (MAE)</td>
                <td>{{mae_dt}}</td>
            </tr>
            <tr>
                <td>Mean Squared Error (MSE)</td>
                <td>{{mse_dt}}</td>
            </tr>
            <tr>
                <td>R² Score</td>
                <td>{{r2_dt}}</td>
            </tr>
        </table>

        <h2>Support Vector Regressor (SVR) Performance</h2>
        <table class="w3-table-all">
            <tr>
                <td>Mean Absolute Error (MAE)</td>
                <td>{{mae_svr}}</td>
            </tr>
            <tr>
                <td>Mean Squared Error (MSE)</td>
                <td>{{mse_svr}}</td>
            </tr>
            <tr>
                <td>R² Score</td>
                <td>{{r2_svr}}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
